/*----------RESET STYLES----------*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----------GLOBAL SETTINGS----------*/

.section {
    padding: 120px 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*--------------header--------------*/

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.address {
    margin-left: auto;
    font-style: normal;
}

.address-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    margin-right: 76px;
    padding: 24px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.accent {
    color: #4D5AE5
}

.header-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.current{
    position: relative;
    color: #404bbf
}

.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address-menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    display: block;
    padding: 24px 0;
    transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.address-menu-link:hover,
.address-menu-link:focus {
    color: #404bbf;
}

/*--------------main--------------*/

.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
    height: 600px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpeg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.section-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    color: #fff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.section-btn:hover,
.section-btn:focus {
    background-color: #404bbf;
}

/*---------FEATURES SECTION----------*/

.section-features{
    padding: 120px 0;
}

.section-features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-features-item{
    width: calc((100% - 72px) / 4);
}

.section-features-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.section-features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*--------SECTION TEAM---------*/

.team {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-title {
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.team-card {
    padding: 32px 16px;
    text-align: center;
}

.global-img-style{
    display: block;
    max-width: 100%;
}

.team-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}

.team-text {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team-list {
    display: flex;          
    gap: 24px;             
    padding: 0;
    margin: 0;
    list-style: none;     
    justify-content: center;
}

.section-team-item {
    list-style: none;
}

.section-team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    color: #fff;
}

.section-team-link:hover,
.section-team-link:focus{
    background-color: #404bbf;
}

.section-team-icon {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

/*---------SECTION PORTFOLIO---------*/

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay-text{
    transform: translateY(0%);
}

.portfolio-img-wrap {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.portfolio-img-wrap:hover{
    transform: translateY(0%);
}

.portfolio-overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-item-subtitle {
    margin-bottom: 8px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*--------------footer--------------*/

.footer {
    padding: 100px 0;
    background:#2e2f42;
}

.container-footer{
    display: flex;
    align-items: baseline;
}

.container-logo{
    margin: 0 120px 0 0;
    padding: 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-logo-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social-title{
    font-family: "Roboto", sans-serif;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-socials-list{
    display: flex;
    gap: 16px;
}

.footer-social-item{
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------FORM---------*/

.form-subscribe {
    margin-left: auto;
}

.footer-form-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    background-color: transparent;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder{
    color: #ffffff;
}

.footer-form-input:hover,
.footer-form-input:focus{
    border-color: #31d0aa;
}

.footer-form-button {
    color: #ffffff;
    display: flex;
    font-style: "Roboto", sans-serif;
    border-radius: 4px;
    background: #4d5ae5;
    cursor: pointer;
    border: none;
    padding: 8px 24px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus{
    background-color: #31d0aa;
}

.footer-button-icon{
    fill: #ffffff;
    margin-left: 16px;
}

/*----------OVERLAY--------*/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.overlay-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
}

.overlay-close{
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-close:hover,
.overlay-close:focus{
    background-color: #404bbf;
    border: none;
}

.overlay-close-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-close:hover svg,
.overlay-close:focus svg{
    fill: #ffffff;
}

.overlay-field{
    margin-bottom: 8px;
}

.overlay-text{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.overlay-input{
    display: block;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-input:focus{
    border-color: #4d5ae5;
}

.overlay-input:focus + .overlay-input-icon{
    fill: #4d5ae5;
}

.overlay-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.overlay-input-icon{
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
}

.overlay-wrapper{
    position: relative;
}

.overlay-textarea{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.overlay-textarea:focus{
    border-color: #4d5ae5;
}

.overlay-check-container{
    padding-top: 8px;
}

.overlay-button{
    display: block;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 24px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-button:hover{
    background-color: #404bbf;
}

.overlay-check-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;

}

.privacy{
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.span-checkbox{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.overlay-check:checked + .overlay-check-label .span-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}




