.hidden{
    display: none;
}

/*----------RESET STYLES----------*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

/*----------GLOBAL SETTINGS----------*/


.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

/*--------HEADER-------*/

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-list{
    display: none;
}

.address{
    display: none;
}

.header-logo {
    padding: 16px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    display: block;
}

.accent {
    color: #4D5AE5
}

.burger-btn{
    padding: 0;
    border: none;
    background: transparent;
}

.burger-icon{
    display: block;
    fill: #2F2F37;
}

@media screen and (min-width: 768px) {
    .header-logo{
        margin-right: 120px;
    }

    .burger-btn{
        display: none;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-menu-list {
        display: flex;
        gap: 40px;
    }

    .header-menu-link{
        display: block;
        padding: 24px 0;
    }

    .address {
        display: block;
        font-style: normal;
    }

    /*.header-menu-item{
        display: block;
        padding: 24px 0;
    }*/

    .header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms
        cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current{
        position: relative;
        color: #404bbf
    }

    .current::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .address-menu-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-menu-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
        transition: color 250ms
        cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link:hover,
    .header-menu-link:focus,
    .address-menu-link:hover,
    .address-menu-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo{
        margin-right: 76px;
    }

    .address-menu-list{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-menu-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
        transition: color 250ms
        cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*----------MOBILE-MENU----------*/

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    width: 100%;
    height: 100%;
    min-width: 320px;
    background-color: #fff;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.mobile-menu-close{
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus{
    background-color: #404bbf;
    border: none;
}

.mobile-menu-close-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.mobile-menu-close:hover svg,
.mobile-menu-close:focus svg{
    fill: #fff;
}

.mobile-menu-nav{
    margin-bottom: auto;
    gap: 40px;
}

.mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: 60px;
}

.mobile-menu-link{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link.current{
    color: #404bbf;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus{
    color: #404bbf;
}

.mobile-menu-address{
    margin-top: auto;
    margin-bottom: 48px;
}

.mobile-address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-style: normal;
}

.mobile-address-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link-accent{
    color: #4d5ae5;
}

.mobile-address-link:hover,
.mobile-address-link:focus{
    color: #404bbf;
}

.mobile-menu-list-icons{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.mobile-menu-link-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mobile-menu-link-icon{
    fill: #f4f4fd;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link-icon:hover,
.mobile-menu-link-icon:focus{
    background-color: #404bbf;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}

@media screen and (min-width: 1158px){
    .mobile-menu{
        display: none;
    }
}

/*----------MAIN SECTION----------*/

.main-section{
    max-width: 1440px;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section-title{
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
}

.section-btn{
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.section-btn:hover,
.section-btn:focus{
    background-color: #404bbf;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-resolution: 2x) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_mobile_x2.jpg);
    }
}


@media screen and (min-width: 768px) {
    .main-section {
        max-width: 768px;
        height: 436px;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_tablet.jpg);
    }

    .section-title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .section-btn{
        min-width: 169px;
    }

    @media (min-resolution: 2x) {
        .main-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_tablet_x2.jpg);
        }
}
}
@media screen and (min-width: 1158px) {
    .main-section {
        background-color: #2e2f42;
        padding: 188px 0;
        max-width: 1440px;
        height: 600px;
        text-align: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }

    .section-title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
    }

    .section-btn{
        min-width: 169px;
        min-height: 56px;
    }

    @media (min-resolution: 2x) {
        .main-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_x2.jpg);
        }
}
}

/*----------SECTION FEATURES----------*/
.section-features{
    padding: 96px 0;
}

.container-features{
    max-width: 767px;
}

.section-features-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.section-features-item{
    max-width: 767px;
    width: 100%;
}

.section-features-icon{
    display: none;
    pointer-events: none;
}

.section-features-subtitle{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-features-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .section-features-list{
        display: flex;
        gap: 72px 24px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: left;
    }

    .section-features-item{
        width: calc((100% - 24px) / 2);
        max-height: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .section-features{
        min-height: 464px;
        padding: 120px 0;
    }

    .container-features{
        max-width: 1158px;
    }

    .section-features-list{
        gap: 24px;
    }

    .section-features-item{
        width: calc((100% - 72px) / 4);
        max-height: 140px;
    }

    .section-features-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .section-features-subtitle{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    
    .section-features-text{
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/*----------SECTION TEAM----------*/

.section-team{
    padding: 96px 0;
    background-color: #f4f4fd;
}

.container-team{
    justify-content: center;
    align-items: center;
}

.team-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.team-item{
    max-width: 264px;
    width: 100%;
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card {
    padding: 32px 16px;
    text-align: center;
    background-color: #fff;
}

.section-team-list{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.team-subtitle{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.section-team-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    color: #fff;
}

.section-team-link:hover,
.section-team-link:focus{
    background-color: #404bbf;
}

.section-team-icon {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .section-team{
        padding: 120px 0;
    }

    .team-list{
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }  

    .team-item:hover{
        box-shadow:
            0 2px 1px rgba(46, 47, 66, 0.08),
            0 1px 1px rgba(46, 47, 66, 0.16),
            0 1px 6px rgba(46, 47, 66, 0.08);
    }

    .team-item{
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*----------SECTION PORTFOLIO----------*/

.section-portfolio{
    padding: 96px 0;
}

.portfolio-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 48px;
}

.portfolio-item{
    width: 100%;
    height: auto;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    box-shadow:
            0 2px 1px rgba(46, 47, 66, 0.08),
            0 1px 1px rgba(46, 47, 66, 0.16),
            0 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-img-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.portfolio-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-item:hover .portfolio-overlay-text{
    transform: translateY(0%);
}

.portfolio-img-wrap:hover{
    transform: translateY(0%);
}

.portfolio-overlay-text{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-content{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    text-align: left;
}

.portfolio-item-subtitle {
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    }

    .portfolio-item{
        width: calc((100% - 24px) / 2);
        min-height: 420px;
    }


}

@media screen and (min-width: 1158px) {
    .portfolio-list{
        gap: 48px 24px;
    }

    .portfolio-item{
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }

    .portfolio-item:hover{
        box-shadow:
            0 2px 1px rgba(46, 47, 66, 0.08),
            0 1px 1px rgba(46, 47, 66, 0.16),
            0 1px 6px rgba(46, 47, 66, 0.08);
    }
}

/*----------FOOTER----------*/

.footer{
    border-top: 1px solid #E7E9FC;
    box-shadow: 0 -1px 6px 0 rgba(46, 47, 66, 0.08), 0 -1px 1px 0 rgba(46, 47, 66, 0.16), 0 -2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #2E2F42;
    padding: 96px 0;
}

.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 72px;
}

.container-footer-wrap{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: block;
    margin-bottom: 16px;
}

.footer-logo-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
}

.footer-socials{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-social-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-socials-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.footer-socials-list{
    display: flex;
    gap: 16px;
}

.footer-social-item{
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 16px;
}

.footer-form-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
}

.footer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer-subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-form-input{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    padding-left: 16px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder{
    color: #ffffff;
}

.footer-form-input:hover,
.footer-form-input:focus{
    border-color: #31d0aa;
}

.footer-form-button {
    width: 165px;
    height: 40px;
    color: #ffffff;
    display: flex;
    border-radius: 4px;
    background: #4d5ae5;
    cursor: pointer;
    border: none;
    padding: 8px 24px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.footer-form-button:hover,
.footer-form-button:focus{
    background-color: #31D0AA;
}

.footer-button-icon{
    fill: #ffffff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .container-footer{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        align-items: first baseline;
        max-width: 584px;
    }

    .container-footer-wrap{
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin: auto;
    }

    .container-logo{
        width: 264px;
        height: 112px;
    }

    .footer-text{
        text-wrap: balance;
    }

    .form-subscribe{
        flex-direction: column;
        width: 496px;
    }

    .footer-form-title{
        text-align: left;
        justify-content: left;
        margin: 0;
    }

    .footer-social-title{
        margin-top: 0;
    }

    .footer-form{
        flex-direction: row;
        align-items: center;
    }

    .container-footer-subscribe{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .footer-form-input{
        width: 264px;
    }

    .footer-form-button{
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer{
        padding: 100px 0;
    }

    .container-footer{
        justify-content: space-between;
        align-items: first baseline;
        flex-wrap: nowrap;
        gap: 80px;
        max-width: 1158px;
    }

    .container-logo{
        min-width: 264px;
    }

    .container-footer-wrap{
        gap: 120px;
    }

    .container-footer-wrap{
        margin-left: 0;
    }

    
}

/*----------MODAL WINDOW----------*/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.overlay.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.overlay-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    padding: 72px 16px 16px 16px;
}

.overlay-close{
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-close:hover,
.overlay-close:focus{
    background-color: #404bbf;
    border: none;
}

.overlay-close-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-close:hover svg,
.overlay-close:focus svg{
    fill: #ffffff;
}

.overlay-field{
}

.overlay-check-container{
    padding-top: 16px;
}

.overlay-label{
    font-family: "Roboto", sans-serif;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.overlay-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.container-overlay-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.overlay-input{
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-input:focus{
    border-color: #4d5ae5;
}

.overlay-input:focus + .overlay-input-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #4d5ae5;
}


.overlay-input-icon{
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}


.overlay-wrapper{
    position: relative;
}

.overlay-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-textarea:focus{
    border-color: #4d5ae5;
}

.overlay-textarea::placeholder{
    opacity: 0.5;
}

.overlay-button{
    display: block;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 24px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-button:hover,
.overlay-button:focus{
    background-color: #404bbf;
}

.overlay-check-label{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.span-checkbox svg {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.span-checkbox{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.span-text-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.overlay-check:checked + .overlay-check-label .span-checkbox svg {
    opacity: 1;
}

.overlay-check:checked + .overlay-check-label .span-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px){
    .overlay-container{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
    
    .overlay-text{
        margin-bottom: 16px;
    }

    .overlay-privacy-text{
        flex-direction: row;
    }

    .span-text-wrap{
        flex-direction: row;
    }
}


@media screen and (min-width: 1158px){
    .overlay-container{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}